<!--<div id="debug-panel">Debug</div>-->
    
    <!-- SECTION 1 -->
    
    <div class="section" id="section-1">
      <div class="content-wrapper" id="content-1">
        
        <div class="text">
          <h2 class="font-accent-dark">Kick-It</h2>
          We help you kick that bad habit.<br />
          <br />
          <div class="nav"><!--<div style="position: absolute; text-align: right;">-->
            <h3> SIGN UP TO BE A BETA TESTER <a href="#section-8"><img alt="Sign up" class="middle-align nav-widget" src="/assets/nav_down_white_48.png" /></a></h3><!--</div>-->
            <h3> SEE HOW KICK-IT WORKS <a href="#section-2"><img alt="Next section" class="middle-align nav-widget" src="/assets/nav_down_white_48.png" /></a></h3>
          </div>
        </div>
        
        <div class="graphic" id="section-1-graphic">
        <!-- <img class="space-filling" src="/assets/devices.png" /> -->
        </div>
        
        <div class="nav">
        <!-- <a href="#section-2"><img alt="Next section" class="nav-widget" src="/assets/nav_down_white.png" /></a> -->
        </div>
      </div>
    </div>
    
    
    <!-- SECTION 2 -->
    
    <div class="section" id="section-2">
      <div class="content-wrapper" id="content-2">
        
        <div class="graphic" id="section-2-graphic">
        <!-- <img src="/assets/goal-illustration.png" /> -->
        </div>
        
        <div class="text">
          <h2>We Create a Custom Plan&hellip;</h2>
          <!-- <h3>The first step towards the better you is to share with us the habit you want to quit.</h3> -->
                    
          <!-- <div>You tell us just how much you want to quit and how quickly.  We use research to make recommendations that increase your likelihood of reaching those targets.</div> -->
          <div> First, you tell us a little about yourself and what habit you’re trying to kick.  We take that information and come up with a personalized plan for you. </div>
        </div>
        
      </div>
      <div class="nav bottom-center">
        <a href="#section-3"><img alt="Next section" class="nav-widget" src="/assets/nav_down_white.png" /></a>
      </div>
    </div>
    
    
    <!-- SECTION 3 -->
    
    <div class="section" id="section-3">
      <div class="content-wrapper" id="content-3">
        
        <div class="text">
          <h2>&hellip;And then Help You Stick to It.</h2>
          <div> Making a plan is, of course, the easy part.  The hard part is actually doing it on a daily basis.  We use the latest behavioral sciences research on social and financial incentives, timely reminders, and proven coaching strategies to keep you engaged and improving.</div>
        </div>
        
        <div class="graphic" id="section-3-graphic">
        <!-- <img class="space-filling" src="/assets/month-illustration.png" /> -->
        </div>
        
      </div>
      <div class="nav bottom-center">
        <a href="#section-4"><img alt="Next section" class="nav-widget" src="/assets/nav_down_white.png" /></a>
      </div>
    </div>
    
    
    <!-- SECTION 4 -->
    
    <div class="section" id="section-4">
      <div class="content-wrapper" id="content-4">
        
        <div class="graphic" id="section-4-graphic">
        <!-- <img src="/assets/financial-illustration.png" /> -->
        </div>
        
        <div class="text">
          <h2> Free to Use&hellip;So Long as You Use It </h2>
          <!--  <h3>We check up on you.  We send you encouragement.  We send you reminders.  We bug you.</h3> -->
          <!--  By periodically reaching out to you and tracking your progress, we help keep you on track.  You can even ask a trusted friend or family member to [participate].<br /> -->
          <div> The service is free so long as you check in once a day and report how you did the day before.  If you don’t check in, however, we charge you for that.  We call it a &ldquo;Reverse Subscription,&rdquo; because you only pay if you don’t use it.</div>
        </div>
        
      </div>
      <div class="nav bottom-center">
        <a href="#section-5"><img alt="Next section" class="nav-widget" src="/assets/nav_down_white.png" /></a>
      </div>
    </div>
    
    
    <!-- SECTION 5 -->
    
    <div class="section" id="section-5">
      <div class="content-wrapper" id="content-5">
        
        <div class="text">
          <h2>Kickin’ It&mdash;Week 1 (Video with Day -3, Day -1, Day 1, Day 7, etc)</h2>
          <!--   <h3>We check up on you.  We send you encouragement.  We send you reminders.  We bug you.</h3> -->
          <!--   By periodically reaching out to you and tracking your progress, we help keep you on track.  You can even ask a trusted friend or family member to [participate].<br /> -->
          <!--   <div>You can even invite someone you know and trust to help you out.  Most importantly, they’ll see how you’re doing and whether or not you’re checking in.</div>-->
        </div>
        
        <div class="graphic" id="section-5-graphic">
        <!-- <img src="/assets/social-illustration.png" /> -->
        </div>
        
      </div>
      <div class="nav bottom-center">
        <a href="#section-8"><img alt="Next section" class="nav-widget" src="/assets/nav_down_white.png" /></a>
      </div>
    </div>
    
    
    <!-- SECTION 8 -->
    
    <div class="section" id="section-8">
      <div class="content-wrapper" id="content-8">
        
        <div class="graphic" id="section-8-graphic">
        <!--  <img src="/assets/device-with-halo.png" /> -->
        </div>
        
        <div class="text">
          <h2>Kick-It will be having a private beta launch around Winter 2013.</h2>
          <div>If you want to be a part of it, fill out the little form below.  We’ll send you an email when we’re ready for you.</div>
          
          <div class="center-align">
            <form id="signup-form" action="" onsubmit="return validate_email($('form_email').val());">
              <input type="hidden" name="landing" value="B">
              <label for="signup-name">My first name is</label> <input class="center-align" id="signup-name" name="name" type="text" onblur="field_blur(this, 'Name')" onfocus="field_focus(this, 'Name')" value="Name" />, <label for="signup-email">my email address is</label> <input class="center-align" id="signup-email" name="email" type="email" onblur="email_blur(this, 'email')" onfocus="email_focus(this, 'email')" value="email" />, and <label for="">I want to</label> <select id="signup-degree"><option value="quit">&nbsp;&nbsp;&nbsp;quit</option><option value="reduce">reduce</option></select> <label for="signup-habit">my habit of</label> <input class="center-align" id="signup-habit" name="habit" type="text" onblur="field_blur(this, 'habit')" onfocus="field_focus(this, 'habit')" value="habit" />.<br />
              <br />
              <input id="signup-submit" type="submit" value="Sign Up" />
            </form>
          </div>
        </div>
        
      </div>
      <div class="nav bottom-center">
        <a href="#section-1"><img alt="Back to the top" class="nav-widget" src="/assets/nav_top_white.png" /></a>
      </div>
    </div>