<title>Kick-It | Sweets Tricks</title>

<div class="container">
	<h4>Try one of the following when you find yourself craving something sweet</h4>
	<ul class="tricks_list">
		<li>Chew gum</li>
		<li>Fruit</li>
		<li>Water</li>
		<li>Tea</li>
		<li>Go chat with someone</li>
		<li>Quick walk</li>
		<li>Exercise</li>
		<li>Juice</li>
	</ul>
</div>