<% content_for :title do %><title>Home</title><% end %>
<% content_for :h1 do %><h1>Home</h1><% end %>

<% if user_signed_in? && current_user.start_date? && current_user.start_date <= Date.current && Date.current <= current_user.start_date + 30 %>
	<!-- If in an active program -->
	<%= render 'shared/calendar' %>
<% elsif user_signed_in? && !current_user.start_date? %>
	<!-- If signed up only -->
	<h2 style="margin-bottom:0;">Welcome!</h2>
	<%= current_user.email %>
	<%= link_to "Set up a 30-day plan", setup_user_path(current_user), "data-role" => "button", "data-icon" => "arrow-r", 
		"data-iconpos" => "right", "data-ajax" => false, style: "margin-top:40px;" %>
<% elsif user_signed_in? && current_user.start_date? && current_user.start_date > Date.current %>
	<!-- If signed up / setup but not started -->
	<!-- Check list -->
<% else %>
	<!-- If not signed up -->
	<h2>Kick it</h2>
	<%= render 'signup' %>
<% end %>