<% content_for :title do %><title>Late Night Snacking Tricks</title><% end %>
<% content_for :h1 do %><h1>Snacking Tricks</h1><% end %>

<div data-role="page">
	<%= render 'shared/panel' %>
	<%= render 'shared/header' %>
	<div data-role="content">
		<%= render 'shared/flash', flash: flash %>
		<h4>Try one of the following when you find yourself craving a late night snack</h4>
		<ul class="tricks_list">
			<li>Veggies and dip</li>
			<li>Playing an iPhone game</li>
			<li>Chewing gum</li>
			<li>Doodling / drawing</li>
			<li>Tea</li>
			<li>Stretching</li>
		</ul>
		<%= debug(params) if Rails.env.development? %>
	</div>
</div>