<title>Kick-It | Snacking Tricks</title>

<div class="container">
	<h4>Try one of the following when you find yourself craving a late night snack</h4>
	<ul class="tricks_list">
		<li>Veggies and dip</li>
		<li>Playing an iPhone game</li>
		<li>Chewing gum</li>
		<li>Doodling / drawing</li>
		<li>Tea</li>
		<li>Stretching</li>
	</ul>
</div>