<title>Kick-It | Nail Biting Tricks</title>

<div class="container">
	<h4>Try doing one of the following when you feel the urge to bite your nails</h4>
	<ul class="tricks_list">
		<li>Fidget with an object</li>
		<li>Clip your nails</li>
		<li>Chew gum</li>
		<li>Grab a snack</li>
		<li>Drum your fingers</li>
		<li>Play with clay</li>
		<li>10 deep breaths</li>
		<li>Doodle / draw</li>
		<li>Write</li>
		<li>Go chat with someone</li>
	</ul>
</div>