<title>Kick-It | Overeating Tricks</title>

<div class="container">
	<h4>Try doing one of the following when you feel the urge to overeat</h4>
	<ul class="tricks_list">
		<li>Have a snack 2 hours before a meal you'd overeat at</li>
		<li>Use a small plate for a meal</li>
		<li>Put your fork down after every bite</li>
		<li>"Reverse race" someone you're eating with (i.e., finish after them)</li>
		<li>Eat bigger meals earlier in the day</li>
	</ul>
</div>