<p><%= "Hi #{@supporter.first_name}," %></p>

<p>Thanks for supporting a Kick-It test user!  We've come to the end of our testing phase, and we were wondering <strong>if you wouldn't mind replying to this email with some quick feedback</strong> about your experience.  We have a few questions - feel free to only answer one or a couple, whatever you have time for and interest in.</p>

<ol>
	<li>Did you have any idea what Kick-It was when you were asked to be a supporter? Do you now?</li>
	<li>Did you get why <%= @user.first_name %> asked you to be a supporter?</li>
	<li>Did you understand your role?</li>
	<li>Did you have a sense of what <%= @user.first_name %> was doing with their Kick-It program?</li>
	<li>How did you feel about how much time / energy you spent being a supporter?</li>
	<li>Were you curious to try Kick-It yourself?</li>
	<li>Any other thoughts?</li>
</ol>

<p>Thanks!</p>

<p>Doug and Rick<br>
(The Kick-It Team)</p>