<% content_for :title do %><title>Home</title><% end %>
<% content_for :h1 do %><h1>Home</h1><% end %>

<% if user_signed_in? && current_user.start_date? && current_user.start_date <= Date.current && Date.current <= current_user.start_date + 30 %>
	<!-- If in an active program -->
	<%= render 'shared/calendar' %>
<% elsif user_signed_in? && !current_user.start_date? %>
	<!-- If signed up only -->
	<%= render 'setup' %>
<% elsif user_signed_in? && current_user.start_date? && current_user.start_date > Date.current %>
	<!-- If signed up / setup but not started -->
	<!-- Check list -->
<% else %>
	<!-- If not signed up -->
	<%= render 'signup' %>
<% end %>