<p>Hi <%= @user.first_name %>,</p>

<p>There was a glitch with the check-in messages this morning that some of our beta testers alerted us to.  Everyone received the wrong "daily check-in message" today. The message you got today said: "<%= @msg_received %>" It should have said: "<%= @msg_corrected %>"</p>

<p>The check-in message you received reflects your new goal for this week, which you should only have received starting tomorrow.  <strong>If you already responded to the check-in and now have a different response based on this correction, please respond to this email letting us know and we'll fix it.</strong></p>

<p>We realize this is a really confusing error, and we're working on making it more intuitive going forward.  We're really sorry about the mistake and the extra email blast.  If you still don't get what went wrong, we understand - it's tough to explain and tricky to wrap your head around.  We can work with you directly to fix any way your program was affected.</p>

<p>(And as always, if you have suggestions for what would have been a simpler, clearer way to communicate the issue, we'd love to get your thoughts.)</p>

<p>Thank you for your patience,<br>
- Rick and Doug (The Kick-It Team)<br>
<a href="mailto:support@kick-it-now.com">support@kick-it-now.com</a></p>