<p><%= "Dear #{@user.first_name}," %></p>

<p>First of all, thank you thank you thank you for being part of our first pilot experiment.  We learned a tremendous amount over the past 3 weeks.  We found that some things worked quite nicely, and we also found that we need to go back to the drawing board on a couple things.  Now that the official beta period is over, we have a short survey (takes about 5 minutes) for you <a href="https://docs.google.com/forms/d/1ypLpkHZD-bVsFOE53Jemz3THosDBuAKhHrHbZodvEZ0/viewform">here</a>.</p>

<p>If you can take a couple minutes and <a href="https://docs.google.com/forms/d/1ypLpkHZD-bVsFOE53Jemz3THosDBuAKhHrHbZodvEZ0/viewform">fly through it</a>, it would really help us out.</p>

<p>After that, this is the last time you'll be hearing from us for a while unless you renewed your subscription.  We'll be back in touch in a few months after we've developed a new version of the product based on what we learned.  If you DON'T want to get those updates, please just respond to this message with "unsubscribe" in the body of the email.</p>

<p>We won't bore you with all the details, but if you're interested in hearing what insights came out of this experiment, shoot us an email and we'll be more than happy to share.</p>

<p>Best,<br>
Rick and Doug</p>

<p>To unsubscribe, reply to this email with "unsubscribe" in the body of the email.</p>