<p><%= "Hey #{@user.first_name}," %></p>

<p>Your 3-Week Kick-It program ended today, but we want to give you the chance to keep working on your habits a little longer.</p>

<p>If you want to keep it going for another three weeks, click <%= link_to "here", extend_program_program_url(@program) %>.</p>

<p>If you don't want to renew, you don't have to do anything.  But we hope you'll be open to giving us another try in the future when we launch the full product.</p>

<p>- Doug and Rick<br>
(The Kick-It Team)</p>