<p>Thank you for signing up for Kick it!</p>

<p>Get started by setting up a one week plan at <%= link_to 'kick-it-now.com', root_url %>. Note that only mobile (and not web) use is currently supported.</p>

<p>Best,<br>
The Kick it Team</p>