<p><%= "Hey #{@user.first_name}," %></p>

<p>This past week your daily goal was: <%= @old_goal.html_safe %>.  This coming week (which starts tomorrow) your daily goal will be: <strong><%= @new_goal.html_safe %></strong>.</p>

<p>- Doug and Rick<br>
(The Kick-It Team)</p>