<p><%= "Hey #{@user.first_name}," %></p>

<p>This past week your daily goal was to <%= "#{@old_goal[0].downcase}#{@goal.html_safe[1..-1]}" %>.  This coming week (which starts tomorrow) your daily goal will be to <strong><%= "#{@new_goal[0].downcase}#{@new.html_safe[1..-1]}" %></strong>.</p>

<p>Whereas last week we tried to <u>experiment with ways to beat an urge</u> to <%= @program.habit_for_sentence %>, this week we're going to <u>practice beating one urge per day</u> using a substitution trick that you think will work.  Just one, every day.</p>

<p>If you want to try to beat more than one urge, that's ok too, but don't feel any pressure to do so.  If you don't have any urges to beat, that counts as a success too.</p>

<p>The idea, though, is NOT to rely on your willpower to "just not do it."  In the long run, relying on willpower is likely to fail.  But instead, at least once per day, satisfy your urge with a healthier substitute.  Practicing doing that will help you beat your bad habit sustainably over time.</p>

<p>If you found a trick last week that worked for you (or that you think will work in the future) email us and tell us what it was!  And if not, let us know that too so we can choose a more appropriate week 3 goal for you.</p>

<p>- Doug and Rick<br>
(The Kick-It Team)</p>