<p>Hey <%= @user.first_name %>!</p>

<p>Just a reminder that tomorrow is the first day of your Kick-It program. Your goal tomorrow (and for the rest of the first week) is to <%= "#{@goal[0].downcase}#{@goal[1..-1]}" %>.</p>

<p>If you haven't already, please log into your account to change your password, add your supporter, and add billing information.</p>

<p>Let us know if you have any questions or feedback, we're here to help along the way.</p>

<p>- Doug and Rick</p>