<div data-role="header" data-theme="d">
  <%= link_to 'Home', root_path, "data-icon" => "home", "data-iconpos" => "notext",
  	"data-role" => "button", "data-theme" => "c", "data-inline" => "true" %>
  <%= yield :h1 %>
  <% if user_signed_in? && current_user.programs.count >= 1 %>
  <a href="#mypanel" data-icon="bars" data-iconpos="notext" data-theme="c">Options</a>
	<% elsif user_signed_in? && current_user.programs.count == 0 %>
		<%= link_to 'Sign out', destroy_user_session_path, method: "delete", "data-role" => "button", "data-theme" => "c", "data-inline" => "true" %>
  <% else %>
		<%= link_to 'Sign In', new_user_session_path, "data-role" => "button", "data-theme" => "c", "data-inline" => "true" %>
	<% end %>  
</div>