<% content_for :title do %><title>Reminder message</title><% end %>
<% content_for :h1 do %><h1>Reminder message</h1><% end %>

<%= form_for @remessage do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<div class="rem">
		<%= f.text_area :content, "for" => "textarea" %>
		<%= f.submit "Update reminder message", class: "submit" %>
	</div>
<% end %>