<% content_for :title do %><title>Reminder Message</title><% end %>
<% content_for :h1 do %><h1>Reminder Message</h1><% end %>

<%= form_for @remessage do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<div class="rem">
		<%= f.text_area :content, "for" => "textarea" %>
		<%= f.submit "Add reminder message", class: "submit", "data-theme" => "d" %>
	</div>
<% end %>