<h1>We're sorry</h1>
<p>Something went wrong.</p><br>

<p>Reload the <%= link_to "Kick-It home page", root_path %> and try to do what you just did again.</p><br>

<p>If it works, great!  If it breaks a second time, please <a href="mailto:support@kick-it-now.com">report</a> your problem and what you were trying to do.  We'll get right on fixing it for you.</p>