<div class="container">
	<h1>We're sorry</h1>
	<h4>Something went wrong.</h4>

	<h4>Reload the <%= link_to "Kick-It home page", root_path, class: "link" %> and try to do what you just did again.</h4>

	<h4>If it works, great!  If it breaks a second time, please <a href="mailto:support@kick-it-now.com" class="link">report</a> your problem and what you were trying to do.  We'll get right on fixing it for you.</h4>
</div>