input[type='text'], input[type='email'] {
  -webkit-appearance: none;
  background-color: #999;
  border: 1pt solid #fff;
  border-radius: 0pt;
  color: #fff;
  font: 14pt/20pt "Heletica Neue", Helvetica, Arial, sans-serif;
  margin: 2pt;
  padding-left: 5pt;
  padding-right: 5pt;
//  padding: 2pt 5pt;
  margin-bottom: 1pt;
}

select, option {
  -webkit-appearance: none;
  background-color: #999;
  border-radius: 0pt;
//  display: block-inline;
  color: #fff;
  font: 14pt/20pt "Heletica Neue", Helvetica, Arial, sans-serif;
  height: 24pt;
  text-align: center !important;
}

.full-width {
  width: 100%;
}

.fill-in-the-blank {
  background: none !important;
  border: none !important;
  border-bottom: 2pt solid #fff !important;
  color: #0cc !important;
  text-align: center !important;
}

#signup-form {
//  background: #f00;
  font: 14pt/20pt "Heletica Neue", Helvetica, Arial, sans-serif;
  padding-top: 10pt;
  text-align: center;
  width: 75%;
}

.right-align {
  text-align: right;
}

#signup-email {
}

input[type='submit'], input[type='button'] {
  -webkit-appearance: none;
  border-radius: 0pt;
}

#signup-submit {
  background-color: #0cc; // #3cc; // #39c;
/*  border: 1pt solid #09f; */
/*  border: 1pt solid #999; */
  border: none;
  color: #fff;
  font: 14pt/20pt "Heletica Neue", Helvetica, Arial, sans-serif;
  padding: 5pt 10pt;
}

.btn {
  background-color: #0cc; // #3cc; // #39c;
/*  border: 1pt solid #09f; */
/*  border: 1pt solid #999; */
  border: none;
  color: #fff;
  font: 14pt/20pt "Heletica Neue", Helvetica, Arial, sans-serif;
  padding: 5pt 10pt;
}

.invalidated-field {
//  background-color: #f99 !important;
  background-color: #c33 !important;
}

.validated-field {
//  background-color: #9f9 !important;
//  background-color: #3c3 !important;
//  background-color: #6f6 !important;
}

.warning_text {
  font-color: #f00;
  font-size: 8pt;
  display: none; /* default: inline */
}

.error_text {
  font-color: #00f;
  font-size: 8pt;
  display: none; /* default: inline */
}