input[type="text"], input[type="email"] {
  -webkit-appearance: none;
  background-color: #999;
  border: 1pt solid #fff;
  margin: 2pt;
  padding-left: 5pt;
  padding-right: 5pt;
//  padding: 2pt 5pt;
  margin-bottom: 1pt;
  font-family: 'EB Garamond', serif;
  /* set backup to Times */
  font-size: 21pt;
  font-weight: normal;
  font-style: italic;
  color: #84a1d3 !important;
  text-align:center !important;
}

select, option {
  -webkit-appearance: none;
  background-color: #999;
  border-radius: 0pt;
  height: 24pt;
  text-align: center !important;
  font-family: 'EB Garamond', serif;
  /* set backup to Times */
  font-size: 21pt;
  font-weight: normal;
  font-style: italic;
  color: #84a1d3 !important;
}

#extender {
  border-bottom: 2pt solid #fff !important;
  border-bottom-width:150pt;
}

::-webkit-input-placeholder {
   color: #84a1d3;
   text-align:center;
}

:-moz-placeholder { /* Firefox 18- */
   color: #84a1d3;
   text-align:center;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #84a1d3;
   text-align:center;
}

:-ms-input-placeholder {  
   color: #84a1d3;
   text-align:center;
}

label {
  font-family: 'EB Garamond', serif;
  /* set backup to Times */
  font-size: 21pt;
  color: #ffffff;
  font-weight: normal;
}

.fieldinput {
  font-family: 'EB Garamond', serif;
  /* set backup to Times */
  font-size: 21pt;
  color: #84a1d3;
  font-weight: normal;
  font-style: italic;
}

.fill-in-the-blank {
  background: none !important;
  border: none !important;
  border-bottom: 2pt solid #fff !important;
  text-align: center !important;
  color: #84a1d3 !important;
}

.full-width {
  width: 100%;
}

#signup-form {
//  background: #f00;
  font: 14pt/20pt "Heletica Neue", Helvetica, Arial, sans-serif;
  padding-top: 10pt;
  text-align: center;
  width: 75%;
}

.right-align {
  text-align: right;
}

#signup-email {
}

input[type='submit'], input[type='button'] {
  -webkit-appearance: none;
}

#signup-submit {
  background-color: #0cc; // #3cc; // #39c;
/*  border: 1pt solid #09f; */
/*  border: 1pt solid #999; */
  border: none;
  color: #fff;
  font: 14pt/20pt "Heletica Neue", Helvetica, Arial, sans-serif;
  padding: 5pt 10pt;
}

.btn {
  background-color: #5673b8;
  border: 3pt solid #ffffff;
  -moz-border-radius: 25pt;
  -webkit-border-radius: 25pt;
  border-radius: 25pt;
  width: 224pt;
  height: 40pt;
  text-align: center;
  color: #fff;
  font-family: 'EB Garamond', serif;
  /* set backup to Times */
  font-size: 21pt;
  font-weight: normal !important;
  padding: 0;
  padding-bottom: -50px;
  cursor: pointer;
  display: inline-block;
}

.invalidated-field {
//  background-color: #f99 !important;
  background-color: #c33 !important;
}

.validated-field {
//  background-color: #9f9 !important;
//  background-color: #3c3 !important;
//  background-color: #6f6 !important;
}

.warning_text {
  font-color: #f00;
  font-size: 8pt;
  display: none; /* default: inline */
}

.error_text {
  font-color: #00f;
  font-size: 8pt;
  display: none; /* default: inline */
}