// Grays
@black:             #000;
@grayDark:          lighten(@black, 25%);
@gray:              lighten(@black, 50%);
@grayLight:         lighten(@black, 70%);
@grayLighter:       lighten(@black, 90%);
@white:             #fff;
 
// Accent Colors
@blue:              #08b5fb;
@green:             #46a546;
@red:               #9d261d;
@yellow:            #ffc40d;
@orange:            #f89406;
@pink:              #c3325f;
@purple:            #7a43b6;

@grayMediumLight: #E0E0E0;

/* typography */

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

h1 {
	color: @white; /* used for header nav bar */
	text-align: center;
}

btn-supporter {
  background-color:  @red;
}

h2 {
  margin-top: 0;
  margin-bottom: 5px;
	font-size: 2em;
	text-align: center;
  font-weight: bold;
  color: @white;
}

h3 {
	font-size: 1.4em;
  margin-top:0;
	text-align: center;
	font-weight: bold;
	color: @white;
}

h4 {
  font-size: 1.1em;
  margin-top:0;
  text-align: center;
  font-weight: normal;
  color: @white;
}

.link {
  text-decoration:none;
  font-weight: normal !important;
  color: #f8a159 !important;
}

/* counters */

.counters .ui-btn-inner {
  font-weight: normal;
}

.counters .ui-block-a .ui-submit {
  margin-left: 0;
}

.counters .ui-block-b .ui-submit {
  margin-right: 0;
}

/* calendar */

#calendar table {
  border-collapse: collapse;
  width: 100%;
}

#calendar td,
#calendar th {
  font-family: "Lucida Grande",arial,helvetica,sans-serif;
  font-size: 10px;
  padding: 3px;
  border: 1px solid #999;
}

#calendar th {
  background: #DDD;
  color: #666;
  text-align: center;
  width: 14.2857142857143%;
}

#calendar td {
  margin: 0;
  padding: 0.6em;
  background: #FFF;
  color: #777;
  height: 30px;
  vertical-align: top;
  font-size: 8px;
}

#calendar .notmonth {
  color: #CCC;
}

#calendar #month {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 16px;
}

#calendar #month a, #calendar #month a:hover {
  text-decoration: none;
  padding: 0 10px;
  color: #999;
}

#calendar .today {
  background-color: #D7F2FF;
}

#calendar .day {
  margin: 0;
  padding: 0;
  font-size: 8px;
  text-align: left;
  color: @gray
}

#calendar .result {
  margin: 0;
  padding: 0;
  text-align: center;
  margin-top: 5px;
}

#calendar .result a {
  display:block;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-top: 5px;
  width: 100%;
}

#calendar .free_day {
  text-decoration:none;
  color:@black;
  font-size: 6pt;
  line-height: 1.0;
}

.daypop-p {
  margin-bottom:10px;
  margin-top:0;
  text-align:center;
}

.tracking_footer {
  padding: 10px 20px;
  background-color:@gray;
  color:@white;
  font-family: "Lucida Grande",arial,helvetica,sans-serif;
  font-size: 14px;
  text-align: center;
  /*height: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;*/
}

.required_alert {
  display: block;
  margin: 0 auto 10px auto;
  padding: 7px 10px;
  background-color: #f8a159;
  border: 1px solid #ffffff;
  border-radius: 7px;
  color: #ffffff !important;
  font-weight: normal !important;
}

.required_alert a {
  color: #ffffff !important;
  font-weight: normal !important;
}

/* wizard */

.prev, .next { 
  background-color:@black;
  padding:5px 10px;
  color:@white;
  text-decoration:none;
  }

.prev:hover, .next:hover { 
  background-color:#000; 
  text-decoration:none;
  }

.prev { 
  float:left;
}

.next { 
  float:right;
  }

/* reminders */

.one_rem{
  clear: both;
  margin-bottom: 50px;
  .ui-select {
    float:left;
  }
}

.rem {
  .ui-select {
    float:left;
    margin-bottom: 25px;
  }
  .ui-submit {
  clear:both;
  } 
}

#reminders {
  p {
    clear: both;
  }
}

/* profile */

.flabel {
  margin-bottom: 0;
  margin-top: 25px;
}

/* carousel */

#wrapper {
  width:100%;
  /*min-width:320px;*/
  height:300px;
  font-family:helvetica;
  font-size:12px;
  text-align:center;
  /*background:#ddd;
  border-top:1px solid #aaa;
  border-bottom:1px solid #aaa;*/
  p {
    font-size:.9em;
  }
}

.car-img {
  height: 100px;
  width: 100px;
  margin-bottom: 10px;
}

#nav {
  position:absolute;
  z-index:100;
  top:8px;
  width:200px;
  height:20px;
  left:50%;
  background:rgba(0,0,0,0.75);
  padding:0;
  margin:0 0 0 -100px;
  -webkit-border-radius:10px;
}

#nav li {
  display:block;
  float:left;
  width:14px;
  height:14px; line-height:14px;
  -webkit-border-radius:7px;
  background:rgba(255,255,255,0.1);
  overflow:hidden;
  padding:0;
  margin:3px 11px 0 0;
  text-align:center;
}

#nav li#prev {
  margin-left:5px;
  background:transparent;
}

#nav li#next {
  margin-right:0;
  background:transparent;
}

#nav li.selected {
  background:rgba(255,255,255,0.4);
}

#swipeview-slider > div {
  position:relative;
  display:-webkit-box;
  -webkit-box-orient:vertical;
  -webkit-box-pack:center;
  -webkit-box-align:center;
  overflow:hidden;
}

#swipeview-slider span {
  -webkit-box-sizing:border-box;
  display:block;
  text-align:center;
  font-size:1.4em;
  padding:0 20px;
}

/* client_side_validations */

.field_with_errors {
  .message {
    /* position: absolute; */
    margin-top: 5px;
    line-height: 14px;
    font-size: 14px;
    color: #e892a3;
    font-weight: bold;
  }
}


/* server-side errors */

#error_explanation {
  color: #e892a3;
  font-weight: bold;
  font-size: 14px;
  ul {
    list-style: square;
    margin: 0 0 15px -20px;
  }
}

#stripe_error {
  color: #e892a3;
  font-weight: bold;
  font-size: 16px;
}

.client_error {
  color: #e892a3;
  font-weight: bold;
  font-size: 16px;
}

#submitting, #checking {
  font-weight: bold;
  font-size: 16px;
}

/* tables */

.suptable {
  text-align:center;
  color: black;
  border-collapse: collapse;
  width: 100%;
}

.suptable td,
.suptable th {
  font-family: "Lucida Grande",arial,helvetica,sans-serif;
  font-size: 10px;
  padding: 3px;
  border: 1px solid #999;
}

.suptable th {
  background: #DDD;
  color: #666;
  text-align: center;
  width: 14.2857142857143%;
}

.suptable td {
  margin: 0;
  padding: 0.6em;
  background: #FFF;
  color: black;
  font-weight:bold;
  height: 30px;
  width: 14.2857142857143%;
  vertical-align: middle;
  font-size: 0.5em;
}

.pretty_table {
  tr {
    text-align:left;
    border-bottom: 1px solid #fff;
    &:first-child {
      border-top: 1px solid @grayMediumLight;
    }
    &:nth-child(even) {
      color: @white;
      background: #717171;
    }
    &:last-child {
      margin-bottom: 20px;
      border-bottom: none;
    }
    .date {
      width: 150px;
    }
    .result {
      width: 150px;
    }
    th {
      padding: 5px 10px;
    }
    td {
      padding: 5px 10px;
    }
  }
}

/* supmessages */

.msg_info {
  text-align:right;
  font-size: 10pt;
  margin-right:10px;
}
.content {
  margin-top: 7px;
  margin-bottom: 20px;
  border-radius:10px;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px;
}

/* tricks list */

.tricks_list {
  padding-left: 20px;
}

.tricks_list li {
  margin: 5px 0;
}

/* miscellaneous */

.no-wrap {
  white-space: nowrap;
}